@font-face {
font-family: '1';
src: url('https://cdn.jsdelivr.net/gh/passme1/13@ae939e32914b7d1aebaacd650aabe5b63b3641b0/1731821547/1.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}