@font-face {
font-family: '1';
src: url('https://cdn.jsdelivr.net/gh/passme1/13@aca950752dc7bebf38c3806207deb6dc350f96b2/1731821547/1.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}