@font-face {
font-family: '1';
src: url('https://cdn.jsdelivr.net/gh/passme1/13@57aaa0cc36af2bcfe777354ebb01f297deec493d/1731821547/1.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}