@font-face {
font-family: '2';
src: url('https://cdn.jsdelivr.net/gh/passme1/13@3e652fd767f2c58b161a33e22bf34682b61295a3/1731821547/2.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}