@font-face {
font-family: '2';
src: url('https://cdn.jsdelivr.net/gh/passme1/13@8d740d73ec1f53e6d95b474312a0a0979df23b2a/1731821547/2.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}