@font-face {
font-family: '2';
src: url('https://cdn.jsdelivr.net/gh/passme1/13@73c433701d3274477e3c7d2027287aa66be95a74/1731821547/2.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}