@font-face {
font-family: '3';
src: url('https://cdn.jsdelivr.net/gh/passme1/13@2ed2dbd92421e51930fd3c796576e205f8f77f36/1731821547/3.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}