@font-face {
font-family: '3';
src: url('https://cdn.jsdelivr.net/gh/passme1/13@ce3d27f0bed174cf3359cd84bd2cbdc2e5793622/1731821547/3.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}