@font-face {
font-family: '3';
src: url('https://cdn.jsdelivr.net/gh/passme1/13@ce1204c95b2d9ae84f8e808d7da668ff3552ab00/1731821547/3.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}