@font-face {
font-family: '4';
src: url('https://cdn.jsdelivr.net/gh/passme1/13@f3b129c9d025475537532856eaec0d3df9f045d3/1731821547/4.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}