@font-face {
font-family: '4';
src: url('https://cdn.jsdelivr.net/gh/passme1/13@ef4e0dd917ae265de678a41333b04599b6f9fb78/1731821547/4.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}