@font-face {
font-family: '4';
src: url('https://cdn.jsdelivr.net/gh/passme1/13@305b9a5e531950be5180b8d868fc2b66771ad6a5/1731821547/4.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}